<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman" default="duck"/>
    <node ns="$(arg veh)" pkg="duckietown_driver" type="wheels_driver_node.py" name="wheels_driver_node" output="screen" clear_params="true" required="true"/>
    
    <!-- Subscriptions -->
    <!-- "~wheels_cmd": duckietown_msgs/WheelsCmd. Command for the wheels -->

</launch>